body {
    background-image: url("../assets/images/background1.png");
    }

    
header {
    background-color: white;
    height: 75px;
    border-bottom-style: solid; color: grey;
    
} 
    

h1 {
    background-color: #4aaaa5;
    color: white;
    height: 45px;
    position: relative;
    width: 10%;
    display: inline-block;
    margin-left: 200px;
    padding: .25%;


}

a {
    text-decoration: none;
} 

nav     {   
        float: right;
        margin-top: 25px;
             }

nav a {
     color: #999;
     text-decoration: none;
     margin-left: 15px;
     display: inline-block;
     border-left: 1px solid #efefef;
     padding-left: 15px;
     line-height: 18px;
            }
         
nav a:first-child {
      border-left: 0 none;
}
      


#biopic {
    float: left;
}

.content {
    width: 960px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    color: #4aaaa5;
    
}

footer {
    background-color: #666666;
    text-align: center;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    margin-top: 315px;
       }


#box1   {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#box2   {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#box3   {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 20px;
}

.msgbox {
    width: 100%;
}

#button {
    background-color:  #4aaaa5;
    color:  white;
}