body {
    background-image: url("../assets/images/background1.png");
    }

    
header {
    background-color: white;
    height: 75px;
    border-bottom-style: solid; color: grey;
    
} 
    

h1 {
    background-color: #4aaaa5;
    color: white;
    height: 45px;
    position: relative;
    width: 10%;
    display: inline-block;
    margin-left: 200px;
    padding: .25%;

}

a {
    text-decoration: none;
} 

nav {
    text-align: right;
    margin-right: 100px;
    margin-top: -95px
   }


#biopic {
    float: left;
}

.content {
    width: 960px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    color: #4aaaa5;
   
}

footer {
    background-color: #666666;
    text-align: center;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    margin-top: 315px;
       }

#button {
    background-color:  #4aaaa5;
    color:  white;
}
  


#Trivia {
    float: right;
    margin-top: -5%;
    padding: 3%;
} 

#hangman {
    padding: 2%;
    float: left;
 
}


#RPG {
    padding: 2%;
    float: left;
    margin-top: -2%;
}

#UMN {
    padding: 3%;
    float: right;
    margin-top: -4%
}

#RPS {
    padding: 2%;
    margin-top: -2%;
}


#hanger {
    padding: 2%;
    float: left;
    margin-left: -265px;
    padding: 5px;
    margin-top: 20px;
    background-color: #4aaaa5
   
}

#triv {

    float: right;
    margin-right: -240px;
    margin-top: -19px;
    padding: 5px;
    background-color: #4aaaa5
    
}

#RPGER {
    float: left;
    margin-left: -250px;
    padding: 5px;
    background-color: #4aaaa5
   
}

#Minnie {
float: right;
margin-right: -280px;
margin-top: -10px;
padding: 5px;
background-color: #4aaaa5

}

#RPSER {
    float: left;
    margin-left: 170px;
    margin-top: -222px;
    padding: 5px;
    background-color: #4aaaa5;
    position: relative;
   
}

